[Unit]
Description=FFMPEG-Libretime

[Service]
ExecStart=/usr/bin/ffmpeg -f pulse -i 0 -vn -c:a libopus -ab 96K -ac 2 -vbr off -f rtsp rtsp://wowzahls.iwi.radio:1935/live/{{project_name}}_libretime
User=www-data
Group=www-data
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
