[Unit]
Description=Streamer

[Service]
#WorkingDirectory=/var/log/ffmpeg-libretime/
ExecStart=/usr/bin/omxplayer --live -o hdmi rtsp://54.253.11.77:1935/live/tehikufm_broadcast
#ExecStart=/usr/bin/omxplayer --live -o hdmi http://54.253.11.77:1935/live/tehikufm_broadcast.stream/playlist.m3u8
#User=www-data
#Group=www-data
Restart=always
RestartSec=1
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target
