{
	"search_folders":[
		"{{db_dir}}"
	],
	"project_name": "{{project_name_pretty}}",
	"project_slug": "{{project_name_slug}}",
	"log_path": "/var/log/librescripts",
	"tmp_dir": "/tmp/librescripts",
	"aws": {
		"s3_bucket": "s3://tehiku-airtime-bucket/",
		"access_key": "{{AWS_ACCESS_ID_BUCKET}}",
		"secret_key": "{{AWS_SECRET_KEY_BUCKET}}"
	},
}
