{
    "search_folders":[
        "{{sunshine_db_dir}}",
        "{{tehiku_db_dir}}"
    ],
    "project_name": "{{project_name_pretty}}",
    "project_slug": "{{project_name_slug}}",
    "log_path": "/var/log/librescripts",
    "tmp_dir": "/tmp/librescripts",
    "aws": {
        "s3_bucket": "s3://tehiku-airtime-bucket/",
        "access_key": "{{AWS_ACCESS_ID_BUCKET}}",
        "secret_key": "{{AWS_SECRET_KEY_BUCKET}}",
        "access_key_face": "{{FACE_ACCESS_KEY}}",
        "secret_key_face": "{{FACE_SECRET_KEY}}"
    },
    "wowza": {
        "user": "API",
        "password": "Ku4ka1840"
    },
    "webhooks": [
        {
            "name": "Kingi",
            "url": "{{ZAPIER_WEBHOOK}}",
            "type": "zapier"
        },
        {
            "name": "Slack Automation Channel",
            "url": "{{SLACK_WEBHOOK}}",
            "type": "slack"
        }
    ],
    "classifiers": {
        "face": "/etc/librescripts/haarcascade_frontalface_default.xml"
    }
}
