
server {
    listen      80;
    listen [::]:80;
    server_name {{ domain_name }};

    proxy_set_header X-Forwarded-Proto $scheme;
    if ( $http_x_forwarded_proto != 'https' ) {
        return 301 https://$host$request_uri;
    }

    location /files/ {
        alias   {{ nginx_files_dir }};
        autoindex  on;
    }

}
