{
  "device_name": "{{station_name}} Libretime Server",
  "storage_path": "/var/lib/resilio-sync/",
  "pid_file": "/var/run/resilio-sync/sync.pid",
  "use_upnp": true,
  "download_limit": 0,
  "upload_limit": 0,
  "directory_root" : "{{sync_dir}}",
  "webui":{
    "listen": "0.0.0.0:8888",
    "force_https": true,
    "login": "{{RESILIO_LOGIN}}",
    "password": "{{RESILIO_PASS}}"
  },
  "shared_folders":
    [
      {
        "secret" : "{{RESILIO_FOLDER_KEY_SUNSHINE}}", // required field - use --generate-secret in command line to create new secret
        "dir" : "{{db_dir}}", // * required field
        "use_relay_server" : true, //  use relay server when direct connection fails
        "use_tracker" : true,
        "search_lan" : true,
        "use_sync_trash" : false, // enable SyncArchive to store files deleted on remote devices
        "overwrite_changes" : true, // restore modified files to original version, ONLY for Read-Only folders
        "selective_sync" : false// add folder in selective sync mode
      }
    ]
}
